# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Android / Gradle
.gradle/
build/
**/build/
local.properties

# IntelliJ / Android Studio / VS Code
.idea/
.vscode/
*.iml

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
coverage/

# macOS / Windows
.DS_Store
Thumbs.db

# Logs
*.log
